/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2016, 6:02:37 PM
    Author     : code
*/
.violet_color {
    color: #003366;
}

a:hover {
    text-decoration: none;
}

.btn-purple {
    color: #fff;
    background-color: #cc7ab7;
    border-color: #2e7da4;
}