@CHARSET "UTF-8";
.violet_color {
	color: #003366;	
}
*::selection {
	background: #003366;	
}
*::-moz-selection {
	background: #003366;	
}
.title {
	font-size: 3em;
	text-transform: uppercase;
}
a:HOVER {
	text-decoration: none;
}
a {
	outline: none;
}